
body {
   
    width: 100%;
}

#header {
    height: 100px;
   
    width: 100%;
    padding-right:2px;
}

#footer {
    height: 100px;
    width: 100%;
    text-align:center;
}
.he{
    font-size:x-large;
}
#content {
    width: 100%;
    min-height: 800px;
    padding:2px 2px 2px 2px;
    background-color:whitesmoke;
    text-align:center;

    overflow-y:scroll;
}

#content2 {
    width: 60%;
    float: right;
    text-align:right;
     overflow-y:scroll;
}

#content3 {
    width: 40%;
    float: left;
    text-align:left;
     overflow-y:scroll;
}

 